/*
* @Author: chang__ccge
* @Date:   2020-09-18 15:36:12
* @Last Modified by:   chang__ccge
* @Last Modified time: 2020-09-18 15:50:38
*/
.login-panel{
	margin-top: 25%;
	border-bottom-right-radius: 3px !important;
	border-bottom-left-radius: 3px !important;
}
