/*
* @Author: chang__ccge
* @Date:   2020-09-22 14:11:40
* @Last Modified by:   chang__ccge
* @Last Modified time: 2020-09-23 05:30:51
*/
.search-wrap{
	margin-right: 5px;
	margin-bottom: 20px;
	.select-btn{
		margin-right: 5px;
	}
	.input-btn{
		margin-right: 5px;
	}
}